<!-- Module 2 Notes - HTML Common Tags -->

<!-- h1 (1) -->
<h1>Module 2 Notes - HTML Common Tags</h1>

<!-- section (10) -->
<section>

    <!-- h2 (3) -->
    <h2>Basic HTML Tags</h2>

    <!-- p (14) -->
    <p>
        You learned a lot of HTML tags in this module. What you learned can be categorized as follows:
    </p>

    <!-- ul (2) -->
    <ul>

        <!-- li (14) -->
        <li>line break</li>
        <li>whitespace</li>
        <li>sections
            <!-- ul (1) -->
            <ul>
                <!-- li (10) -->
                <li>headings
                    <!-- ul (1) -->
                    <ul>
                        <!-- li (7) -->
                        <li>h1</li>
                        <li>h2</li>
                        <li>h3</li>
                        <li>h4</li>
                        <li>h5</li>
                        <li>h6</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>text formatting
            <!-- ul (1) -->
            <ul>
                <!-- li (7) -->
                <li>em</li>
                <li>strong</li>
                <li>b</li>
                <li>i</li>
                <li>code</li>
            </ul>
        </li>
    </ul>

    <!-- h2 (3) -->
    <h2>Special Characters</h2>

    <!-- p (14) -->
    <p>
        Entities are used for coding special characters. While there are three ways to code entities, it is recommended that you use the entity name. It is the easiest to remember. You can learn more about character entities at <a href="https://www.w3schools.com/html/html_entities.asp" target="_blank">w3schools.com</a>. The most common characters that you will use in this course are those for the trademark symbol and the copyright symbol.
    </p>

    <!-- ul (1) -->
    <ul>
        <!-- li (14) -->
        <li>Non-breaking spaces should only be used to keep two words together, so one word does not wrap to the next line. For example, Paradise Bakery would probably want those two words to appear together at all times. They would never want the word Paradise on one line and then have the word Bakery wrapped to the next line. To keep the words together, you would code a non-breaking space between the two words so it would be treated as one long word.</li>
    </ul>

    <!-- h2 (3) -->
    <h2>Lists</h2>

    <!-- p (14) -->
    <p>
        The two most common types of lists are ordered lists and unordered Lists
    </p>

    <!-- h3 (7) -->
    <h3>Ordered Lists</h3>

    <!-- p (14) -->
    <p>
        Ordered lists should be used for lists that require an order. The steps needed to enroll in a course at ASU might be one example of an ordered list. There are many steps, and they need to be done in a specific order. Ordered lists would also be used for a list where the items are ranked.
    </p>

    <!-- h3 (7) -->
    <h3>Unordered Lists</h3>

    <!-- p (14) -->
    <p>
        Unordered lists should be used for lists that do not require order. An unordered list was used above for the various text formatting tags.
    </p>

</section>

